.catalog-card__header {
  color: @color-black;
  font-size: 17px;
  line-height: 24px;
}

.catalog-card__header-link {
  color: @color-black;
  text-decoration: none;
}

.catalog-card__features {
  font-size: 13px;
}

.catalog-card__price {
  color: @color-black;
  font-weight: 700;
  line-height: 24px;
}
