.content-header {
  position: relative;
  text-align: center;

  margin: 0 0 30px;
  padding: 70px 0 76px;

  .font-main-header(27px);
  background-color: #f1f1f1;
}

@media (min-width: @tablet-width) {
  .content-header {
    margin: 0 0 81px;
    padding: 95px 0 78px;

    .font-main-header(43px, 50px);

    &::after {
      .zigzag-fill-tablet(-15px);
    }
  }
}

@media (min-width: @desktop-width) {
  .content-header {
    margin: 0 0 132px;
    padding-bottom: 98px;

    .font-main-header(53px, 57px);

    &::after {
      .zigzag-fill-desktop(-20px, 34px);
    }
  }
}
