.content-header {
  text-align: center;

  margin: 0;
  padding: 70px 0 70px;

  .font-main-header(27px);
  background-color: #f1f1f1;
}

@media (min-width: @tablet-width) {
  .content-header {
    margin: 0 0 39px;
    padding: 100px 0 70px;

    .font-main-header(43px, 50px);
  }
}

@media (min-width: @desktop-width) {
  .content-header {
    margin: 0 0 132px;
    padding-bottom: 100px;

    .font-main-header(53px, 57px);
  }
}
