.features {
  margin-bottom: 24px;
  width: 100%;

  line-height: 20px;
}

.features tbody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features__row td {
  &:first-of-type {
    margin-right: 19px;
    min-width: 75px;
  }
}

.features__row {
  display: flex;

  padding: 9px 0;
  width: 100%;

  border-bottom: 1px solid #ececec;
}

@media (min-width: @tablet-width) {
  .features {
    margin-bottom: 52px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    margin-bottom: 107px;
  }
}
