.features {
  margin-bottom: 28px;

  line-height: 20px;
}

.features tbody {
  display: flex;
}

.features td {
  border-bottom: 1px solid #ececec;
}

.features__row {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .features {
    margin-bottom: 57px;
  }
}
