.feedback {
  position: relative;

  margin: 0 0 55px;
  padding: 0 30px;
}

.feedback__description {
  margin: 0 0 10px;

  font-size: 13px;
  line-height: 24px;

  &:last-of-type {
    margin-bottom: 25px;
  }
}

@media (min-width: @tablet-width) {
  .feedback {
    margin: 0 0 50px;
    padding: 0;
    width: auto;
  }

  .feedback__description {
    padding: 0 50px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .feedback__description {
    margin: 0 auto 10px;
    width: 700px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
