.footer-logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer-logo {
    display: block;

    margin-right: auto;
    padding-right: 100px;
  }
}

@media (min-width: @desktop-width) {
  .footer-logo {
    padding-right: 100px;
  }
}
