.footer-logo {
  display: none;

  &:focus {
    box-shadow: 0 0 5px 3px @color-light-green;
    outline: none;
  }

  &:hover .footer-logo__svg,
  &:focus .footer-logo__svg {
    fill: #46c1ae;
  }

  &:active .footer-logo__svg {
    fill: fade(#46c1ae, 30%);
  }
}

.footer-logo__svg {
  fill: #231f20;
}

@media (min-width: @tablet-width) {
  .footer-logo {
    display: block;

    margin-right: auto;
    padding-right: 89px;
  }
}

@media (min-width: @desktop-width) {
  .footer-logo {
    padding-right: 112px;
  }
}
