.handwork {
  margin: 0 auto;
  padding: 70px 30px 0;
  width: 260px;
}

.handwork__header {
  margin: 0;

  .font-main-header(27px);
}

.handwork__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.handwork__link {
  display: block;
  position: relative;

  background-color: @color-light-green;
  color: @color-white;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;

  &::after {
    position: absolute;

    content: "";
  }

  &--toys {
    background-color: #56c3b2;
  }
}

@media (min-width: @tablet-width) {
  .handwork {
    padding: 150px 50px 0;
    width: 668px;
  }

  .handwork__header {
    .font-main-header(43px, 50px);
  }

  .handwork__list {
    flex-direction: row;
  }

  .handwork__item {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .handwork {
    width: 1050px;
  }

  .handwork__header {
    .font-main-header(53px, 57px);
  }
}
