.handwork {
  padding-top: 70px;

  background: #fafafa url("../img/hero-mobile@1x.jpg") no-repeat center -18px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 576px;
  }
}

.handwork a:focus {
  box-shadow: 0 0 5px 3px @color-light-green;
  outline: none;
}

.handwork__header {
  text-align: center;

  margin: 0 auto 122px;
  padding: 0 30px;

  .font-main-header(27px);
}

.handwork__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.handwork__item {
  position: relative;

  background-color: @color-light-green;

  &--toys {
    background-color: #56c3b2;
  }
}

.handwork__link {
  display: block;
  position: relative;

  padding: 25px 30px 30px;
  margin: 0 auto;

  color: @color-white;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;

  &:hover::after,
  &:focus::after {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    opacity: 0.5;
  }

  &--interior {
    &::after {
      right: 36px;

      height: 62px;
      width: 40px;

      background: url("../img/icon-interior.svg") no-repeat;
    }
  }

  &--toys {
    &::after {
      right: 26px;

      height: 60px;
      width: 60px;

      background: url("../img/icon-toy.svg") no-repeat;
    }
  }
}

.handwork__text {
  display: block;

  width: 140px;
}

@media (min-width: @tablet-width) {
  .handwork {
    position: relative;

    margin-bottom: 43px;
    padding-top: 153px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position-y: -1px;
    background-size: auto;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;

      height: 24px;
      width: 100%;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: 768px;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1153px;
    }
  }

  .handwork__wrapper {
    margin: 0 auto;
    padding: 0 50px;
  }

  .handwork__header {
    margin-bottom: 373px;
    padding: 0 50px;
    width: auto;

    .font-main-header(43px, 50px);
  }

  .handwork__list {
    flex-direction: row;
  }

  .handwork__item {
    position: relative;

    width: 50%;
  }

  .handwork__link {
    box-sizing: border-box;
    padding: 28px 35px 33px;
    width: 100%;

    font-size: 20px;
    line-height: 30px;

    &--interior {
      &::after {
        right: 36px;
      }
    }

    &--toys {
      &::after {
        right: 34px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .handwork {
    margin-bottom: 69px;
    padding-top: 154px;

    background-image: url("../img/hero-desktop@1x.jpg");

    &::after {
      bottom: -16px;

      height: 36px;

      background-size: 1250px;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .handwork__wrapper {
    width: 1050px;
  }

  .handwork__header {
    margin-bottom: 358px;
    padding: 0 175px;

    .font-main-header(53px, 57px);
  }

  .handwork__list {
    padding: 0;
  }

  .handwork__link {
    box-sizing: border-box;
    margin: 0;
    padding-left: 37px;
    width: 100%;
  }
}
