.handwork__header {
  margin: 0;

  .font-main-header(27px);
}

.handwork__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.handwork__link {
  display: block;
  position: relative;

  background-color: @color-light-green;
  color: @color-white;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;

  &::after {
    position: absolute;

    content: "";
  }

  &--toys {
    background-color: #56c3b2;
  }
}
