.info {
  color: @color-black;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

.info__header {
  font-size: 25px;
  line-height: 30px;
}

.info__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
