.manufacturing-process {
  margin: 0 0 58px;
  padding: 0 30px;
}

.manufacturing-process a:focus,
.manufacturing-process button:focus {
  box-shadow: 0 0 5px 3px fade(@color-light-green, 40%);
  outline: none;
}

.manufacturing-process__container {
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 fade(@color-black, 10%);
    outline: none;
  }

  &:active {
    box-shadow: 0 3px 5px 0 fade(@color-black, 10%);
  }
}

.manufacturing-process__header {
  position: relative;

  border: 1px solid #ececec;
  border-bottom: 0;
  margin: 0;
  padding: 24px 42px 24px 90px;

  color: @color-black;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    left: 33px;
    top: 31%;

    height: 32px;
    width: 32px;

    background: url("../img/icon-video.svg") no-repeat;
  }
}

.manufacturing-process__wrapper {
  position: relative;
}

.manufacturing-process__img {
  display: block;

  height: 100%;
  width: 100%;
}

.manufacturing-process__play {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  margin: auto;

  border: 0;
  height: 77px;
  padding: 0;
  width: 101px;

  background-color: transparent;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    background: url("../img/icon-play.svg") no-repeat;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

.manufacturing-process__wrapper-bottom {
  display: flex;
  flex-direction: column;

  border: 1px solid #ececec;
  border-top: 0;
  padding: 28px 0 32px;
}

.manufacturing-process__text {
  margin: 0 0 10px;
  padding: 0 35px 0 33px;

  font-size: 13px;
  line-height: 24px;

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.manufacturing-process__btn {
  margin: 0 33px;
}

@media (min-width: @tablet-width) {
  .manufacturing-process {
    margin-bottom: 63px;
    padding: 0 50px;
  }

  .manufacturing-process__container {
    border: 0;
  }

  .manufacturing-process__header {
    border: 1px solid #ececec;
    border-bottom: 0;
    margin-bottom: 8px;
    padding-left: 106px;
    padding-top: 37px;

    font-size: 20px;

    &::before {
      left: 41px;
      top: 32px;
    }
  }

  .manufacturing-process__wrapper {
    order: -1;
  }

  .manufacturing-process__video {
    height: 455px;
  }

  .manufacturing-process__wrapper-bottom {
    border: 1px solid #ececec;
    border-top: 0;
    padding: 0 41px 45px 40px;
  }

  .manufacturing-process__text {
    padding: 0;

    font-size: 15px;
    line-height: 30px;

    &:last-of-type {
      margin-bottom: 35px;
    }
  }

  .manufacturing-process__btn {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .manufacturing-process {
    margin: 0 auto 105px;
    padding: 0 50px;
    width: 1050px;
  }

  .manufacturing-process__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    border: 1px solid #ececec;
    padding: 40px 55px 61px 760px;
  }

  .manufacturing-process__header {
    border: 0;
    box-sizing: border-box;
    margin: 0 0 33px 0;
    padding: 54px 0 0 0;

    &::before {
      left: 0;
      top: 0;
    }
  }

  .manufacturing-process__wrapper {
    position: absolute;
    left: 0;
    top: 0;

    width: 682px;
  }

  .manufacturing-process__wrapper-bottom {
    border: 0;
    box-sizing: border-box;
    padding: 0;
  }

  .manufacturing-process__text {
    padding: 0;

    &:last-of-type {
      margin-bottom: 46px;
    }
  }

  .manufacturing-process__btn {
    margin: 0;
    width: 100%;
  }
}
