.map__iframe {
  display: block;

  border: 0;
  height: 457px;
  width: 100%;
}

@media (min-width: @desktop-width) {
  .map iframe {
    width: 525px;
  }

  .map__btn {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
