.nav-list {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .nav-list {
    width: 400px;
  }

  .nav-list a {
    margin: 0 37px 5px 0;
    padding: 0;
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .nav-list {
    flex-shrink: 0;
    left: 0;
    width: 400px;
  }

  .nav-list a {
    margin: 0;
    padding: 31px 0 33px;

    font-size: 17px;
  }

  .nav-list__item {
    &:nth-of-type(odd) {
      border-right: 1px solid #ececec;

      a {
        padding-right: 34px;
      }
    }

    &:nth-of-type(even) {
      a {
        padding-left: 34px;
      }
    }
  }
}
