.navigation-logo {
  position: relative;
  display: block;

  margin: 0 auto;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    box-shadow: 0 0 5px 3px @color-light-green;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .navigation-logo {
    height: 46px;
    margin: 0;
    width: 113px;
  }

  .navigation-logo img {
    height: auto;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .navigation-logo {
    height: 72px;
    width: 149px;
  }

  .navigation-logo img {
    height: auto;
    width: 100%;
  }
}
