.navigation {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navigation__menu-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style-type: none;

  &--offer {
    display: none;
  }

  &--user {
    display: flex;
    flex-direction: column;
  }
}

.navigation__menu-list li {
  border-bottom: 1px solid #ececec;
}

.navigation__menu-list a {
  display: block;
  position: relative;

  box-sizing: border-box;
  margin: 0 auto;
  padding: 26px 0 24px 46px;
  width: 260px;

  color: @color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: fade(@color-black, 60%);
  }

  &:active {
    color: fade(@color-black, 30%);
  }
}

.navigation__link {
  position: relative;
  text-align: center;

  border-bottom: 1px solid #ececec;
  padding: 27px 0;

  color: @color-black;
  text-decoration: none;

  &--basket {
    display: flex;
    align-items: flex-start;
  }
}

.navigation__inner {
  display: flex;
  align-items: flex-start;
  position: relative;

  border-bottom: 1px solid #ececec;
  padding: 22px 0;
}

.navigation__btn {
  position: absolute;
  right: 30px;
  top: 28px;

  border: 0;
  height: 27px;
  width: 27px;

  background-color: transparent;
  font-size: 0;
  transform: rotate(45deg);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;

    height: 2px;
    width: 27px;

    background-color: #000000;
  }

  &::after {
    content: "";
    position: absolute;
    left: 12px;
    top: 0;

    height: 27px;
    width: 2px;

    background-color: #000000;
  }
}

.navigation__text {
  display: none;

  margin: 0;

  color: @main-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .navigation {
    flex-direction: row;
    align-items: flex-start;

    margin: 0 auto;
    padding: 0 50px;
    width: 668px;
  }

  .navigation li {
    border-bottom: 0;
  }

  .navigation__inner {
    border: 0;
    margin-right: auto;
    padding: 22px 0 0 0;
  }

  .navigation__link {
    border: 0;
  }

  .navigation__btn {
    display: none;
  }

  .navigation__menu-list {
    flex-direction: row;

    &--nav {
      position: absolute;
      top: 100%;
      margin-top: 20px;

      font-size: 15px;
    }

    //&--nav a {
    //  margin-right: 37px;
    //  padding: 0;
    //  width: auto;
    //}

    &--user {
      flex-direction: row;
    }
  }

  .navigation__text {
    display: block;
    position: absolute;
    right: 50px;
    top: 100%;

    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .navigation {
    flex-direction: row;

    width: 1050px;
  }

  .navigation__menu-list {
    &--nav {
      order: -1;
      position: relative;

      margin-right: auto;
      margin-top: 0;
    }

    &--offer {
      display: block;
      position: absolute;
      top: 100%;

      margin-top: 20px;
    }
  }

  .navigation__menu-list a {
    //padding: 0;
  }
}
