.navigation-logo {
  position: relative;
  display: block;
}

@media (min-width: @desktop-width) {
  .navigation-logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
