.navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.navigation--nojs .navigation__btn {
  display: none;
}

.navigation__btn {
  position: absolute;
  right: 30px;

  border: 0;
  padding: 0;

  background-color: transparent;
}

.navigation--open .navigation__btn {
  right: 27px;
  top: 26px;

  border-radius: 50%;
  height: 27px;
  width: 27px;

  transform: rotate(45deg);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;

    height: 2px;
    width: 27px;

    background-color: #000000;
  }

  &::after {
    content: "";
    position: absolute;
    left: 12px;
    top: 0;

    height: 27px;
    width: 2px;

    background-color: #000000;
  }
}

.navigation--closed .nav-list {
  display: none;
}

.navigation--closed .user-list {
  display: none;
}

.navigation--nojs .nav-list {
  display: block;
}

.navigation--nojs .user-list {
  display: block;
}

.navigation--closed .navigation__btn {
  top: 31px;

  height: 14px;
  width: 20px;

  background-image: url("../img/icon-menu-open.svg");
  background-size: cover;
}

.navigation button {
  &:focus {
    box-shadow: 0 0 5px 3px fade(@color-light-green, 40%);
    outline: none;
  }
}

.navigation__menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style-type: none;

  &--user {
    display: flex;
    flex-direction: column;
  }
}

.navigation__menu-list li {
  //border-bottom: 1px solid #ececec;
}

.navigation__menu-list a {
  display: block;
  position: relative;

  box-sizing: border-box;
  margin: 0 auto;
  padding: 27px 0 27px 46px;
  width: 260px;

  color: @color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: fade(@color-black, 60%);
  }

  &:active {
    color: fade(@color-black, 30%);
  }

  &:focus {
    box-shadow: 0 0 5px 3px fade(@color-light-green, 40%);
    outline: none;
  }
}

.navigation__link {
  position: relative;
  text-align: center;

  border-bottom: 1px solid #ececec;
  padding: 27px 0;

  color: @color-black;
  text-decoration: none;

  &--basket {
    display: flex;
    align-items: flex-start;
  }
}

.navigation__inner {
  display: flex;
  align-items: flex-start;
  position: relative;

  border-bottom: 1px solid #ececec;
  padding: 22px 0 16px;
}

.navigation__text {
  display: none;

  margin: 0;

  color: @main-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .navigation {
    flex-direction: row;
    align-items: flex-start;
    z-index: 1;

    background-color: #f9f9f9;
  }

  .navigation .nav-list,
  .navigation .user-list {
    display: flex;
  }

  .navigation__inner {
    flex-grow: 1;

    border-bottom: 1px solid #ececec;
    padding: 22px 25px 20px 50px;

    background-color: #ffffff;
  }

  .navigation__link {
    border: 0;
  }

  .navigation__btn {
    display: none;
  }

  .navigation__menu-list {
    flex-direction: row;

    &--nav {
      box-sizing: border-box;
      padding-left: 50px;

      font-size: 15px;
    }

    &--user {
      flex-direction: row;
    }
  }

  .navigation__text {
    display: block;
    order: 2;
    text-align: right;

    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 18px;
    width: 40%;
  }
}

@media (min-width: @desktop-width) {
  .navigation {
    flex-direction: row;

    margin: 0 auto;
    width: 1050px;
  }

  .navigation__inner {
    flex-grow: 0;
    position: relative;

    padding-bottom: 8px;
    padding-right: 103px;
    padding-top: 8px;
  }

  .navigation__menu-list {
    &--nav {
      order: -1;
      position: relative;

      margin-top: 0;
    }

    &--offer {
      display: block;

      margin-top: 18px;
    }
  }

  .navigation__text {
    padding-right: 0;
  }
}
