.offer-list {
  display: none;
}

@media (min-width: @desktop-width) {
  .offer-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 18px;

    max-height: 0;
    width: 60%;

    font-size: 15px;
    letter-spacing: 0.2px;
  }

  .offer-list__item {
    margin-right: 58px;
  }

  .offer-list a {
    margin: 0 0 5px;
    padding: 0;
    width: auto;

    letter-spacing: 0.2px;
  }
}
