.popular-item__header {
  .font-main-header();
}

.popular-item__text {
  color: @color-light-green;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.popular-item__description {
  line-height: 24px;
}

.popular-item__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}
