.popular-item {
  position: relative;

  margin: 0 auto 28px;
  padding: 27px 30px 41px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    height: 6px;
    width: 100%;

    background-image: url("../img/bg-zigzag-line.svg");
    background-position-x: 8px;
    background-repeat: repeat-x;
    background-size: 320px;
  }
}

.popular-item a:focus {
  box-shadow: 0 0 5px 3px fade(@color-light-green, 40%);
  outline: none;
}

.popular-item__header {
  position: relative;

  margin: 0 0 23px;

  .font-main-header();
}

.popular-item__wrapper {
  display: flex;
  flex-direction: column;
}

.popular-item__banner {
  display: block;

  padding-top: 5px;

  color: @color-light-green;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.popular-item__wrapper-image {
  height: 100%;
  margin: 0;
}

.popular-item__img {
  flex-grow: 1;

  margin-bottom: 16px;
  height: auto;
  width: 100%;
}

.popular-item__description {
  margin: 0 0 10px;

  line-height: 24px;

  &:last-of-type {
    margin-bottom: 15px;
  }
}

.popular-item__price {
  text-align: center;

  margin: 0 0 25px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .popular-item {
    box-sizing: border-box;
    margin: 0 0 50px;
    padding: 0 50px 68px 47px;
    width: 100%;

    &::after {
      height: 15px;

      background-position-x: 19px;
      background-size: 768px;
    }
  }

  .popular-item__wrapper {
    flex-grow: 1;

    box-sizing: border-box;
    padding-right: 378px;
  }

  .popular-item__inner {
    padding-left: 3px;
  }

  .popular-item__header {
    display: flex;
    z-index: 1;

    margin-bottom: 49px;

    .font-main-header(43px, 50px);
    letter-spacing: -0.1px;
  }

  .popular-item__banner {
    text-align: center;

    margin: 7px 0 0 auto;
    width: 130px;

    line-height: 17px;
  }

  .popular-item__description {
    max-width: 380px;

    font-size: 17px;
    line-height: 30px;

    &:last-of-type {
      margin-bottom: 33px;
    }
  }

  .popular-item__wrapper-image {
    position: absolute;
    bottom: 68px;
    right: 0;
    top: 107px;

    height: auto;
    padding: 0 50px 0 0;
    width: 334px;
  }

  .popular-item__img {
    height: auto;
    width: 100%;
  }

  .popular-item__price {
    margin-bottom: 34px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .popular-item {
    margin: 0 auto 57px;
    padding: 52px 50px 0;
    width: 1150px;

    &::after {
      left: 50px;

      height: 23px;
      width: 1050px;

      background-position-x: 26px;
      background-size: 1050px;
    }
  }

  .popular-item__wrapper-content {
    padding-bottom: 97px;
    width: 50%;
  }

  .popular-item__header {
    width: 1050px;

    .font-main-header(53px, 57px);
    letter-spacing: -0.2px;
  }

  .popular-item__banner {
    order: -1;

    box-sizing: border-box;
    margin-left: 0;
    padding: 8px 35px 0 25px;
    width: 171px;
  }

  .popular-item__wrapper {
    box-sizing: border-box;
    padding-left: 175px;
    padding-right: 58px;
    width: 100%;
  }

  .popular-item__inner {
    padding-left: 0;
  }

  .popular-item__description {
    padding-right: 10px;

    &:last-of-type {
      margin-bottom: 48px;
    }
  }

  .popular-item__wrapper-image {
    bottom: 97px;
    top: 0;

    width: auto;
  }
}
