.review {
  display: flex;
  flex-direction: column;
}

.review__text {
  margin: 0 0 28px;

  font-size: 15px;
  line-height: 30px;
}

.review__full-name {
  color: @color-black;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.review__nickname {
  font-size: 17px;
}

@media (min-width: @tablet-width) {
  .review__text {
    margin-bottom: 57px;

    font-size: 17px;
  }

  .review__full-name {
    margin-bottom: 4px;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .review__text {
    margin-bottom: 37px;
    padding-right: 75px;
  }

  .review__full-name {
    font-size: 17px;
    letter-spacing: 0.3px;
  }

  .reviews__controls {
    bottom: 151px;
    right: 0;
  }
}
