.review {
  display: flex;
  flex-direction: column;

  padding-bottom: 60px;
}

.review__text {
  margin: 0 0 33px;

  font-size: 15px;
  line-height: 30px;
}

.review__full-name {
  color: @color-black;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.review__nickname {
  font-size: 17px;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    margin-bottom: 85px;
  }

  .review__text {
    margin-bottom: 60px;

    font-size: 17px;
  }

  .reviews__controls {
    bottom: 105px;
  }

  .reviews__control {
    border: 0;
    width: 88px;
  }
}

@media (min-width: @desktop-width) {
  .review__text {
    padding-right: 40px;
  }
}
