.user-list__link {
  &:hover .user-list__svg,
  &:focus .user-list__svg {
    fill: @color-light-green;
  }

  &:active .user-list__svg {
    fill: fade(@color-light-green, 30%);
  }
}

.user-list__text-basket {
  margin: 0;
}

.user-list__svg {
  position: absolute;
  left: 2px;
  top: 29px;

  fill: fade(#221f1f, 20%);
}

@media (min-width: @tablet-width) {
  .user-list__item .user-list__link {
    padding: 31px 0 33px 80px;
    width: 263px;
  }

  .user-list__item {
    border-left: 1px solid #dfdfdf;
  }

  .user-list__svg {
    left: 30px;
    top: 34px;
  }
}

@media (min-width: @desktop-width) {
  .user-list__item .user-list__link {
    width: 268px;
  }
}
